body {
background-color: #eef6ff;
    padding: 35px;
    margin: 30px;
}

.welcome {
    color: white;
    background-color: #123c69;
    font-size: 40px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 12px solid #2e8b57;
}

p {
    color: #222;
    background-color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 10px solid #4f86c6;
    width: 500px;
    height: 50px;
}

.about h2 {
    display: flex;
    justify-content: center;
    color: #123c69;
    background-color: #d9f3f0;
    font-size: 30px;
    padding: 15px;
    border-radius: 5px;
    border: 11px solid #168aad;
    width: 800px;
}

.skills {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: #123c69;
    font-size: 35px;
}
.icdl {
color:#168aad;
font-size:25px;
background-color:#f8fbff;
border:10px solid #168aad;
}
.typing {
color:#168aad;
font-size:25px;
background-color:#f8fbff;
border:10px solid #168aad;
}
.programming {
color:#168aad;
font-size:25px;
background-color:#f8fbff;
border:10px solid #168aad;
}
.english {
color:#168aad;
font-size:25px;
background-color:#f8fbff;
border:10px solid #168aad;
}
.skill-icdl,
.skill-typing,
.skill-programming,
.skill-english {
    width: 220px;
}
.skill-icdl p {
    color: black;
    background-color: yellow;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 10px solid purple;
    width:200px;
    height:100px;
}
.skill-typing p {
    color: black;
    background-color: yellow;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 10px solid purple;
    width:200px;
    height:100px;
}
.skill-programming p {
    color: black;
    background-color: yellow;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 10px solid purple;
    width:220px;
    height:120px;
}
.skill-english p {
    color: black;
    background-color: yellow;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 10px solid purple;
    width:220px;
    height:120px;
}
.thank-you p {
    color: black;
    background-color: yellow;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 10px solid purple;
    width:300px;
    height:50px;
}


